<div class="container-fluid">
  <div class="row">
    <form #LiveTrainStatusForm="ngForm" name="LiveTrainStatusForm" class="w-100 row" (ngSubmit)="LiveTrainStatusForm.valid && getLiveTrainStatus()">
      <div class="col-lg-6">
        <div>
          Train Number
        </div>
        <div class="input-group">
          <input type="text" class="pnr-search-bar form-control" name="trainNumber" [(ngModel)]="trainNumber" placeholder="Enter Train Number...">
          <span class="input-group-btn">
            <button class="btn pnr-search-btn btn-secondary pnr-seearch-btn" (click)="getLiveTrainStatus()" type="button">
              Search
            </button>
          </span>
        </div>
      </div>
    </form>

  </div>





  <ul class="list-group m-t-20 row font-14">
    <li class="list-group-item live-status">
      <div class="row">
        <div class="col-md-1">
          <div class="active-state">
          </div>
        </div>
        <div class="col-md-2">
          STATION
        </div>
        <div class="col-md-2">
          ARRIVAL
        </div>
        <div class="col-md-2">
          DEPARTURE
        </div>
        <div class="col-md-2">
          DISTANCE(km)
        </div>
        <div class="col-md-3 p-0">
         STATUS
        </div>
      </div>

      <div class="row"
      *ngFor="let liveRecord of liveData">
          <div class="col-md-1">
            <div class="active-state">
            </div>
          </div>
          <div class="col-md-2">
            {{liveRecord.station.name}} ({{liveRecord.station.code}})
          </div>
          <div class="col-md-2">
            {{liveRecord.scharr}}
          </div>
          <div class="col-md-2">
            {{liveRecord.actdep}}
          </div>
          <div class="col-md-1">
            {{liveRecord.distance}}
          </div>
          <div class="col-md-4">
           {{liveRecord.status}}
          </div>
        </div>


    </li>

  </ul>
</div>