<div class="container-fluid">
  <div class="row">
    <form #LiveTrainStatusForm="ngForm" name="LiveTrainStatusForm" class="w-100 row" (ngSubmit)="LiveTrainStatusForm.valid && getLiveTrainStatus()">
      <div class="col-lg-6">
        <div>
          Train Number
        </div>
        <div class="input-group">
          <input type="text" class="pnr-search-bar form-control" name="trainNumber" [(ngModel)]="trainNumber" placeholder="Enter Train Number...">
          <span class="input-group-btn">
            <button class="btn pnr-search-btn btn-secondary pnr-seearch-btn" (click)="getLiveTrainStatus()" type="button">
              Search
            </button>
          </span>
        </div>
        <div class="error-message" *ngIf="trainNumberExistance">Please enter Train Number</div>
      </div>
    </form>

  </div>



  <div class="row m-t-20" *ngIf="responseObj">
    {{responseObj.position}}
    <table class="m-t-20 table table-striped table-condensed table-hover" align="center"
    *ngIf="responseObj.train.name!==null">
      <tr>
        <th>NO.</th>
        <th>Station Name</th>
        <th>Arrival Time</th>
        <th>Departure Time</th>
        <th>Distance in km</th>
        <th>Status</th>
      </tr>

      <tr *ngFor="let liveRecord of liveData">
        <td>
          <div class="active-state" *ngIf="responseObj.current_station.code!==liveRecord.station.code">

          </div>
   
          <div class="blink_me" *ngIf="responseObj.current_station.code===liveRecord.station.code">
            <div class="active-circle-outer">
              <div class="active-circle-inner">
              </div>
            </div>
          </div>

        </td>
        <td>{{liveRecord.station?liveRecord.station.name : 'NA'}} ({{liveRecord.station.code}})</td>
        <td>
          <b>{{liveRecord.actarr}}</b>
        </td>
        <td>{{liveRecord.actdep}}</td>
        <td>{{liveRecord.distance}}</td>
        <td>{{liveRecord.status}}</td>
      </tr>
    </table>
    <div *ngIf="(responseObj && responseObj.train.name===null)" class="err-msg col-md-12 text-center">
      No data found
    </div>
  </div>
  <div class="row m-t-20">
    Live train running status for Indian railway trains means the exact location of any train and its real time delay status.
    It may also include the estimated arrival of the train at any particular station en-route.
  </div>














</div>