<div class="container">
  <form  #trainBtwStationsForm="ngForm" name="trainBtwStationsForm" (ngSubmit)="trainBtwStations(trainBtwStationsForm.value)">
    <div class="row">
      <div class="mx-auto">
        <div class="input-group">
          <div class="from-source">

              <input id="typeahead-template" type="text" 
              class="form-control no-border-radious" [(ngModel)]="fromstation" 
              [ngbTypeahead]="fromStation" name="fromstation" placeholder="*Starting from..." 
              (input)="getStations($event.target.value)" [resultTemplate]="rt"
              [resultFormatter]="formatter" />
              
          </div>
          <span><img src="assets/twoway.png" class="two-way-icon" (click)="replaceStations(fromstation, tostation)"></span>

          <span class="input-group-btn to-source">
            <input id="typeahead-format" type="text"
            class="no-border-radious form-control padding-left-20" [(ngModel)]="tostation"
            [ngbTypeahead]="toStation" name="tostation" placeholder="*Going to..." 
            [resultFormatter]="formatter"
            (input)="getStations($event.target.value)" />

          </span>
          <span class="input-group-btn margin-left-5">
            <input class="form-control no-border-radious" placeholder="*yyyy-mm-dd" (click)="d.toggle()"
            name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          </span>
          <span class="input-group-btn margin-left-5">
            <button class="btn no-border-radious btn-secondary train-search-btn" type="submit">Search</button>
          </span>
        </div>
        <div class="error-message" *ngIf="trainBtwStationsForminvalid">Please fill all Required fields.</div>
      </div>
    </div>
  </form>
    
  <div style="margin-top:30px;">
    <div class="text-center">
      <h3 *ngIf="noTrainsFound" class="error-message">No trains found in this route</h3>
    </div>
    <ngb-accordion #acc="ngbAccordion" class="custom-accordion">
      <ngb-panel *ngFor="let train of trainsData?.trains">
      <ng-template ngbPanelTitle>
        <div class="row">

          <div class="col-md-3">
            <div style="color:black">Train Number</div>
            <div style="color: #8A63DF;">{{train.number}}</div>
          </div>
          
          <div class="col-md-3">
            <div style="color:black">Train Name</div>
            <div style="color: #8A63DF;">{{train.name}}</div>
          </div>
          
          <div class="col-md-3">
            <div style="color:black">Starting Point</div>
            <div style="color: #8A63DF;">{{train.from_station?.name}}</div>
          </div>
    
          <div class="col-md-3">
            <div style="color:black">End Point</div>
            <div style="color: #8A63DF;">{{train.to_station?.name}}</div>
          </div>
          <img src="assets/chevron-arrow-down.svg" width="15" height="15" style="margin-left: -45px;margin-top: 12px;">
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row" style="margin-bottom:20px;">
          <div class="col-md-4">
            <div><b>Total Travelling Time</b></div>
            <div>{{train.travel_time}}</div>
          </div>
          <div class="col-md-4">
            <div><b>Source Departure Time</b></div>
            <div>{{train.src_departure_time}}</div>
          </div>
          <div class="col-md-4">
            <div><b>Destination Arrival Time</b></div>
            <div>{{train.dest_arrival_time}}</div>
          </div>
        </div>
        <div class="row"  style="margin-bottom:20px;">
          <div class="col-md-4">
            <div><b>This train will run on</b></div>
            <span *ngFor="let day of train?.days">
              <span style="width:40px;display:inline-block">{{day.code}}</span>
              <span *ngIf="day.runs==='Y'">
                <i class="fa fa-check" style="color: blue;"></i>
              </span>
              <span *ngIf="day.runs==='N'">
                  <i class="fa fa-times" style="color: red;"></i>
              </span>
              <br>
            </span>
          </div>
          <div class="col-md-4">
            <div><b>Available Classes</b></div>
            <span *ngFor="let class of train?.classes">
              <span><b>{{class.code}}: </b></span>
              <span>{{class.name}}</span>
              <br>
            </span>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<div class="container" [class]="trainsData ? 'm-t-3-per' : 'm-t-2-per'">
  <div>
      Day-to -day , our Indian railways demand is increasing and its becoming hard to find the trains running between two stations via IRCTC train book.
  </div>
  <div>
      <div>Now , to enquire the below required information , its an easy process .</div>
      <ul>
        <li>To get detailed list and number of trains running in between 2 certain stations</li>
        <li>To know the timings of the trains running</li>
        <li>Operative days</li>
      </ul>
  </div>
  <div>
      <b>How to search trains between two stations?</b>
  </div>
  <div>
      <p>
          you can provide the names of the two stations (source and destination) in two search boxes. 
          When you type the name of a station, a drop-down menu will give you at least one choices of the station name and the station code. Just select the station you need.
      </p>
      <p>
          After choosing source and destionation of the train stations and station code , essentially select the date of journey and then click on search train.
      </p>
      <div>After you finish the above procedure, the accompanying indexed lists will show up:</div>
      <ol>
        <li>Number of trains running between the two selected stations</li>
        <li>Indian Railway train codes/ Train Numbers</li>
        <li>Train names</li>
        <li>The train station of origin</li>
        <li>Scheduled Departure time</li>
        <li>Scheduled Arrival time</li>
        <li>The Weekly Schedule of the trains (Number of days the trains run in a week) </li>
        <li>The Travel Class: AC, Chair Car, Sleeper, etc </li>
      </ol>
  </div>
</div>
  

</div>